body {
    width: 100%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

header {
    padding: 1px;
    --color-acento: #3A2723;
    background-color: var(--color-acento);
    color: white;
    text-align: center;
}

nav {
    background-color: #3A2723;
    text-align: center
}

nav input {
    height: 5%;
    margin-bottom: 10px;
    border: 2px solid #3A2723;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: #744d45;
}

aside {
    background-color: #744d45;
    color: white;
    width: 17%;
    height: 100%;
    float: left;
}

aside a {
    color: white;
    text-decoration: none;
}

section {
    --color-fondo: #efebe9;
    background-color: var(--color-fondo);
    width: 83%;
    height: 100%;
    float: right;
}

.informacion {
    color: #3A2723;
    padding: 2%;
}

.informacion h1 {}

footer {
    color: white;
    background-color: #3A2723;
    position: relative;
    width: 100%;
    bottom: 0;
    float: left;
}

.footer-icons {
    width: 20%;
    float: left;
    margin-left: 2%;
}

.footer-icons a img {
    float: left;
    max-width: 25px;
    margin-left: 1%;
    margin-right: 5%;
}

.footer-text {
    float: right;
    text-align: right;
    margin-right: 2%;
}

#linkIcons8 {
    color: white;
}