body {
    width: 100%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    position: relative;
    padding: 1%;
}

.cabecera {
    --color-acento: #3A2723;
    background-color: var(--color-acento);
    color: white;
    height: 10%;
    width: 100%;
    margin: auto;
    text-align: center;
}

.cuerpo {
    --color-fondo: #EFEBE9;
    background-color: var(--color-fondo);
}

.botonera {
    background-color: red;
}

.botones {
    height: 5%;
    width: 20%;
    border: 2px solid black;
    border-radius: 50px;
    color: white;
    background-color: #efebe9;
}

.footer {
    color: white;
    --color-acento: #3A2723;
    background-color: var(--color-acento);
    height: 10%;
}

.footer-icons {
    text-align: left;
    margin-left: 2%;
}

.footer-text {
    text-align: right;
    margin-right: 2%;
}